/*鏡像程式碼*/
.flip-x {
	filter: FlipH; /* IE only */
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.box1{
  top: 565px;
  left: 600px;
    background-color: #f1939c;
    position: relative;
    z-index: 2;
  }
  
.box2{
  top: 200px;
  background-color: #c21f30;
  position: absolute;
  bottom:0px;
  right:0px;
}

header {
  font-size:50px;
  padding: 5px;
}
