<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
<body>
<style>
.container {
    margin: 30px;
}

.card {
    margin: 20px;
    padding: 10px;
}

.card-img-top {
    width: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
</style>

<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">肢體辨識健身系統</a>
      </div>
    </div>
</nav>
<div class="container">
    <div class="row align-items-end">
        <div class="card col" id="video_0001.mp4" onclick="redirectUrl(this.id)">
            <img class="card-img-top" src="{{url_for('static', filename='img/video_0001.png')}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">相撲停頓深蹲 (Sumo Squat Pulses)</h5>
                <p class="card-text">主要訓練肌群: 臀大肌、腿後肌群、股四頭肌</p>
                <p class="card-text"><small class="text-muted">By May Fit</small></p>
            </div>
        </div>
        <div class="card col" id="video_0002.mp4" onclick="redirectUrl(this.id)">
            <img class="card-img-top" src="{{url_for('static', filename='img/video_0002.png')}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">臥推 (Bench Press)</h5>
                <p class="card-text">主要訓練肌群: 胸大肌</p>
                <p class="card-text"><small class="text-muted">By Ivan's dad</small></p>
            </div>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="card col" id="video_0003.mp4" onclick="redirectUrl(this.id)">
            <img class="card-img-top" src="{{url_for('static', filename='img/video_0003.png')}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">主要訓練肌群: </p>
                <p class="card-text"><small class="text-muted">By Ivan's dad</small></p>
            </div>
        </div>
        <div class="card col" id="video_0004.mp4" onclick="redirectUrl(this.id)">
            <img class="card-img-top" src="{{url_for('static', filename='img/video_0004.png')}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">硬舉 (Deadlift)</h5>
                <p class="card-text">主要訓練肌群: 膕膀肌、臀肌</p>
                <p class="card-text"><small class="text-muted">By Ivan's coach</small></p>
            </div>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="card col" id="video_0005.mp4" onclick="redirectUrl(this.id)">
            <img class="card-img-top" src="{{url_for('static', filename='img/video_0005.png')}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">引體向上 (Pull-ups)</h5>
                <p class="card-text">主要訓練肌群: 肱二頭肌、背闊肌</p>
                <p class="card-text"><small class="text-muted">By Ivan's coach</small></p>
            </div>
        </div>
        <div class="card col" id="video_0006.mp4" onclick="redirectUrl(this.id)">
            <img class="card-img-top" src="{{url_for('static', filename='img/video_0006.png')}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">後跨步半蹲(左) (Lunge Baby step(left))</h5>
                <p class="card-text">主要訓練肌群: 加強核心、臀大肌、股四頭肌、大腿後側肌群、小腿</p>
                <p class="card-text"><small class="text-muted">By May Fit</small></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- <div>
        <img width=50% height=100% src="{{url_for('static', filename='RH.JPG')}}" alt="受試圖片" class="flip-x"/>
    </div> -->
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/index_scripts.js')}}"></script>
</body>
</html>